[user]
	email = svieira.anderson@gmail.com
	name = Anderson S. Vieira
	username = andsvb2
	signingkey = CEE06754E4FAD3ED
[gc]
	autoDetach = false
[commit]
	gpgsign = true
[core]
	editor = emacsclient -t
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[push]
	default = current
[diff]
    	tool = meld
[difftool]
    	prompt = false
[difftool "meld"]
    	cmd = meld "$LOCAL" "$REMOTE"
[tag]
	forceSignAnnotated = true
[pull]
	rebase = false
